.container {
    width: 300px;
}

.row {
    margin: 10px;
}

label {
    display: block;
    margin: 0;
}

[type="checkbox"] + label,
[type="radio"] + label {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 10px;
}

textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 100px;
}

input[type="text"] {
    width: 150px;
}

.row .form-label {
    float: left;
    margin-right: 8px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
